@import url(https://fonts.googleapis.com/css?family=Lora);
ul.menu {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

.nav-menu {
    display: inline-block;
    position: relative;
}

 a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}
 i {
    margin-right: 10px;
}
 nav {
    display: block;
    width: 100%;
    margin: 0 auto 30px;
}
.nav-menu ul {
    padding: 1em 0;
    background: #ECDAD6;
}
.menu a {
    padding: 1em;
    background: rgba(177, 152, 145, .3);
    border-right: 1px solid #b19891;
    color: #695753;
}
.menu a:hover {background: #b19891;}
.menu li {
    display: inline;
    
}

ul:after {
    display: inline-block;
}

.nav-menu ul li:hover > ul {
    display: inline-block;
}

ul.submenu {
    display: none;
    position: absolute;
    /*width: auto;*/
    /*margin: 0 auto 30px;*/
    border: 1px solid black;
    text-align: center;
}
ul.submenu > li {
    display: inline-block;
}
ul.submenu > li > a {
    text-decoration: none;
}

#one {
    background: url("/public/css/pic/VisualEditor_-_Icon_-_Menu.svg.png") no-repeat;
    background-size: cover;
}

