html, body {
    height: 100%;
    margin: 0;
    background-color: #cccccc;
}
#pagewrap {
    height: auto;
    min-height: 100%;
}
#center-panel-grid #text-part{
    border: 1px solid black;
    min-height: 100%;
    background-color: white;
}
#center-panel-grid #text-part h2 {
    text-align: center;
}
#center-panel-grid #text-part h4 {
    text-align: right;
}
